@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;

}

html{
    font-size: 62.5%;
}

.main-div{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(205, 47%, 82%);
}

.inner-div{
    width: 55vw;
    background-color:rgb(255, 255, 255);
    padding: 3rem 8rem;
    border-radius: 1rem;
    box-shadow:0 1rem 1rem -0.7rem rgba(0,0,0,0.4);

}

.inner-div h2{ 
    font-size: 3.5rem;
    font-weight: 600;
    margin: 1.5rem 0 4rem 0;
}

.inner-div li{
    width: auto;
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    border-width:0.3rem;
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 2rem;
    list-style: none;
    cursor: pointer;
}


.inner-div li:hover{
   border: 0.3rem solid rgb(71, 230, 124);
   /*background-color: rgb(70, 192, 80);*/
   transition: 0.3s;
}

input{
    cursor:pointer;
}

#submit, .btn{
    padding: 1rem 3rem;
    outline: none;
    font-size: 2rem;
    font-weight: 400;
    display: block;
    margin: auto;
    border-radius: 1rem;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: cornflowerblue;
    margin-top: 4rem;
    cursor: pointer;
}

#submit:hover{
    background-color: blue;
}

#showScore{
    background-color:rgb(205, 188, 233);
    margin-top: 3rem;
    padding: 3rem 4rem;
    border-radius: 1rem;
    box-shadow:0 1rem 1rem -0.7rem rgba(0,0,0,0.4);
    opacity: 0;
    transform: translateY(50%);
    animation: fade-in 0.5s ease forwards;
}

#showScore h3{
    font-size: 3rem;
    font-weight: 600;
    color: black;
    text-align: center;

}
#showScore .btn{
    margin-top: 2rem;
    background-color: aqua;
    color: rgb(36, 3, 3);
    border-radius: 1rem;
}
#showScore .btn:hover{

    background-color: rgb(11, 180, 180);
    color: #fff;
}

.scoreArea{
    display: none;
}

/*animation*/
@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/*Responsive*/
@media screen and (max-width: 900px) {

    .inner-div{
        width: 65vw;
        padding: 2rem 3rem;
        border-radius: 1rem;
    }

    .inner-div h2{ 
        font-size: 2.5 rem;
    }

    .inner-div li{
        font-size: 2 rem;
        margin-top: 1.2 rem;
    }

    #submit, .btn{
        padding: 0.8rem 2rem;
        font-size: 1.8rem;
        font-weight: 300;
    }
    #showScore h3{
        font-size: 2rem;
    }
}
